<body>
<div id="main" class="container">
<ul>
    <li id="distancia" >
            <span id="side"style="cursor:pointer" (click)="toggleNav()">
            <div id="menu"></div>
            <div id="menu"></div>
            <div id="menu"></div>
        </span>
    </li>

    <li>
        <a href="#home" id="ativo">Nomad Work</a>
    </li>

    <li>
        <input id="procurar"type="text" name="usarname" placeholder="digite o local desejado">
        <a href="#about" id="pesquisar" >Pesquisar</a>
    </li>
</ul>
<div id="navlado">
    <a id ="a" class="fonteNavlado" href="#">Perfil</a>
    <a id ="b" class="fonteNavlado" href="#">Locais</a>
    <a id ="c" class="fonteNavlado" href="#">Configurações</a>
    <a id ="d" class="fonteNavlado" href="#">Sair</a>
</div>
</div>
</body>